/*
    No glow
 */

.button:focused {
    -fx-faint-focus-color: transparent;
    -fx-underline: true;
}

.root {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #9c9496;
}


/*
    No rounding on elements
 */

.button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;

    -fx-background-color: #f0f0f0;
    -fx-border-color: #a5a5a5;
}

.text-field {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

/*
    Captions are main labels before textfields, buttons, etc that briefly describe their function
 */
.caption {
    -fx-font-weight: bold;
}

/*
    Gradients and colors on various elements of GUI
 */

.background-anchor-pane {
    -fx-background-color: #555555;
}

.tile-pane {
    -fx-background-color: #717171;
}

.progress-bar {
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-accent: #9DE093;
}

.front-anchor-pane {
}

/*
    Dark accents
 */

.label {
    -fx-text-fill: #333333;
}


/*
    Border
 */

.information-box {
    -fx-border-color: gray;
    -fx-border-width: 1;
}

.tile-pane {
    -fx-border-color: gray;
    -fx-border-width: 0;
}

.menu-bar {
    -fx-border-color: gray;
    -fx-border-width: 1;
}